:root{
    --branco: #fff;
    --Detalhes:  rgb(91, 109, 54);
    --fundo:  #EDD4AB;
    --Fonte_btn: #874C17;
    --Fonteh1:  #313817;
    --Container: rgb(94, 50, 20);

}
/* https://www.google.com/search?q=paleta+de+cores+para+instagram+de+pet+shop&source=lnms&tbm=isch&sa=X&ved=2ahUKEwis4dT2yaP6AhX4GbkGHWTwAEsQ_AUoAXoECAIQAw&biw=1600&bih=789&dpr=1#imgrc=t2soL41eCE4bVM */